# Telegram bot token from @BotFather
BOT_TOKEN=123456789:AASuperSecretApiMegaUltraCodeNotShowToAnyone

# Comma-separated Telegram user IDs allowed to moderate/approve notes
ADMIN_IDS=6767676767,

# Path to the SQLite file (relative to project root; mounted as a volume in docker-compose)
DB_PATH=data/dictionary.db

# Channel where bot will send approved by admin notes, Looks kinda like -1000000000000
ANNOUNCEMENT_CHANNEL=0

# Time for how long message is considered recent, 3 is considered the best by me, purely visual behaviour in showing a random note
RECENT_RANDOM_MESSAGE_SECONDS=3 